div.homeContainer
  div.outside-box
    div.form-input
      h3 Create a Route
      form(ng-submit="vm.addRoute()")
        input.route-validation(placeholder="enter route here" ng-model="vm.formInfo.route")
        button.btn.btn-success +

        div.methods-selector.form-group
          div.method.checkbox-inline(ng-repeat="method in vm.allMethods")
            label
              input(type="checkbox"
                    ng-checked="!!(vm.formInfo.methods[method] !== undefined)"
                    ng-click="vm.toggleMethod(method)")
              {{ method }}

        div.checkbox-inline
          label
            input(type="checkbox"
                  ng-checked="vm.formInfo.persistence"
                  ng-click="vm.togglePersistence()")
            {{ 'Persistent' }}

        div.method-body.form-group(ng-hide="vm.formInfo.persistence"
                                   ng-repeat="method in vm.formInfo.methodKeys")
          label {{ method }}
          div.form-group
            label Status code
            input.form-control(type="number"
                               ng-model="vm.formInfo.methods[method].status")
          div.form-group
            label Headers
            textarea.form-control(rows="1"
                                  ng-model="vm.formInfo.methods[method].headers")
          div.form-group
            label Response
            textarea.form-control(rows="3"
                                  ng-model="vm.formInfo.methods[method].data")
