h3 Create a Route
form.form-inline(ng-submit="vm.addRoute()" name="routeForm")
  div.form-group
    input.form-control(placeholder="enter route here"
      name="routes"
      ng-model="vm.formInfo.route"
      ng-pattern="/^(?!.*\/\/)[A-Za-z0-9][A-Za-z0-9\/]*$/"
      ng-class="{ 'alert-danger' : routeForm.routes.$invalid && !routeForm.routes.$pristine }"
      role="alert"
      required)
    button.form-control.btn.btn-success(ng-disabled="routeForm.$invalid") +

  p.has-error(ng-show="routeForm.routes.$error.minlength") route is too short

